<form #CreateEmploye="ngForm" (ngSubmit)="CreateEmployee(CreateEmploye)">
    <div class="card rounded-0 mb-2">
        <h5 class="card-header  bg-primary text-white rounded-0">{{Title}}</h5>
        <div class="card-body">
            <div class="col">
                <div class="form-group" [class.has-error]="NameControl.invalid && NameControl.touched"
                    [class.has-valid]="NameControl.valid">
                    <label class="control-label" for="name">Name</label>
                    <input required name="name" [(ngModel)]="employee.name" id="name" type="text" class="form-control"
                        #NameControl="ngModel" />
                    <span class="help-block" *ngIf="NameControl.invalid && NameControl.touched"> Name is requered</span>
                </div>

                <div class="form-group" [class.has-error]="EmailControl.invalid && EmailControl.touched">
                    <label class="control-label" for="Email">Email</label>
                    <input  required email name="Email" [(ngModel)]="employee.email" id="Email" type="email"
                        class="form-control" 
                        #EmailControl="ngModel" />
                    <span class="help-block" *ngIf="EmailControl.errors?.required && EmailControl.touched"> Email Is Required </span>
                    <span class="help-block" *ngIf="EmailControl.errors?.email && EmailControl.touched"> Email Is Invalid </span>
 
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input name="phoneNumber" [(ngModel)]="employee.phoneNumber" id="phoneNumber" type="number"
                        class="form-control" />
                </div>

                <div class="form-group">
                    <label>Contact Preference</label>
                    <div class="form-control">
                        <label class="radio-inline  ">
                            <input type="radio" value="Email" class="mx-2" name="contactPreference"
                                [(ngModel)]="employee.contactPreference">
                            Email
                        </label>

                        <label class="radio-inline ">
                            <input type="radio" value="PhoneNumber" class="mx-2" name="contactPreference"
                                [(ngModel)]="employee.contactPreference">
                            phoneNumber
                        </label>
                    </div>
                </div>

                <div class="form-group" [class.has-error]="gender.invalid && gender.touched" >
                    <label class="control-label">Gender</label>
                    <div class="form-control">
                        <label class="radio-inline  ">
                            <input required #gender="ngModel" type="radio" value="Male" class="mx-2" name="Gender" [(ngModel)]="employee.gender">
                            Male
                        </label>

                        <label class="radio-inline ">
                            <input required #gender="ngModel" type="radio" value="Female" class="mx-2" name="Gender" [(ngModel)]="employee.gender">
                            Female
                        </label> 
                    </div>
                    <span class="help-block" *ngIf="gender.invalid && gender.touched">
                        Gender is Required
                    </span>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="DeteOfBirh">Date of birth</label>
                        <input name="DeteOfBirh" [(ngModel)]="employee.dateOBirth" id="DeteOfBirh" type="text"
                            placement="right" bsDatepicker [bsConfig]="bsConfig" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="PhotoPath">Photo Path</label>
                    <input name="PhotoPath" [(ngModel)]="employee.photoPath" id="PhotoPath" type="text"
                        class="form-control" />
                </div>

                <div class="form-group">
                    <img [src]="employee.photoPath" height="200" width="200" *ngIf="previewPhoto">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary mt-2" (click)="ChangePreviewPhotoValue()" type="button">
                        {{previewPhotoBtnTitle}}
                    </button>
                </div>

                <div class="form-group">
                    <label> </label>
                    <div class="form-control">
                        <label class="checkbox-inline  ">
                            <input type="checkbox" name="IsActive" [(ngModel)]="employee.isActive">
                            Is active
                        </label>
                    </div>
                </div>



                <div class="form-group">
                    <label for="Department"> Department </label>

                    <select name="Department" id="Department" [(ngModel)]="employee.department" class="form-control">
                        <option *ngFor="let department of departments" value="{{department.id}}">
                            {{department.Name}}
                        </option>
                    </select>


                </div>

            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary rounded-0" [disabled]="CreateEmploye.invalid">Save</button>
        </div>
    </div>
</form>



{{CreateEmploye.value |json}}
<hr>
{{employee |json}}